
.main-content {
    margin-left: 250px;
    padding: 2rem;
}


/* Cartes */
.cards {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-align: center;
    flex: 1;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 0.5rem;
}

.card p {
    color: var(--accent);
    font-size: 1.2rem;
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
}

table th {
    background-color: var(--secondary-color);
}

.edit-btn, .delete-btn {
    background-color: var(--accent);
    border: none;
    padding: 0.3rem 0.8rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn {
    background-color: #e57373;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}
