@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "Frunchy";
    src: url("../font/FrunchySage/Frunchy.woff2") format("woff2"),
         url("../font/FrunchySage/Frunchy.woff") format("woff"),
         url("../font/FrunchySage/Frunchy.otf") format("opentype");
}

.mobile-hidden.active {
    left: 0 !important;
}

.menu-list ul {
    display: none;
}

.menu-list li:hover > ul {
    display: block;
}

/* Styles pour les descriptions de catégories */
.category-description {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    visibility: hidden;
    width: 100%;
    left: 0;
    top: 0;
}

.category-description.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    position: relative;
}

/* Styles pour le slider */
.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    transition: all 0.3s ease;
    position: relative;
}

/* Styles pour la recherche */
#search-dropdown.active {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.search-modal.active {
    opacity: 1;
    visibility: visible;
}

.search-modal.active .search-modal-content {
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    #mobile-menu {
        right: -250px; /* Position initiale hors écran à droite */
        left: auto; /* Désactiver le positionnement left */
        transition: right 0.3s ease;
    }
    
    /* Classe active pour le menu mobile */
    #mobile-menu.active {
        right: 0 !important;
        left: auto;
    }
}
/* Overlay pour le menu mobile */
.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
}

.menu-overlay.active {
    display: block;
}
html {
    scroll-behavior: smooth;
}
